extend _layout.jade
block content
  .cart
    .h2
      img(src='/images/'+place.image, alt=place.name)
      =place.name

      .shopping.hidden
        img(src="/images/cart.png").hidden.shopping
        a(href="/cart")
          span(data-count="0").counter.hidden.label.label-info.label-sm 0
        #cart 
          li.small



  ul.list-group
    each item in items
      li.list-group-item.item(id="#{item.name}", data-itemId="#{item._id}")
        img(src="/images/#{item.icon}")
        span #{item.name}