extend _layout.jade
block content
  h2.cart
    img(src='/images/'+place.image, alt=place.name)
    =place.name
  ul.list-group
    each item in items
      li.list-group-item(id="#{item.name}", data-itemId="#{item._id}")
        img(src="/images/#{item.icon}")
        span #{item.name}